@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Zen+Dots&display=swap');



* {
    font-family: Helvetica, Arial, sans-serif;
    background-color:  #B7C0EE;
    /* margin-top: auto; */
}


body, #root {
    margin: 0;
    padding: 1rem;
}

input {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #564D80;
    padding: 10px 15px;
    font-size: 1.2rem;
    width: 100%;
}

input:hover{
    border: solid 1px white;
    box-shadow: 0 0 20px #2C8C99;
}

input:focus{
    border: solid 1px white;
    box-shadow: 0 0 20px #2C8C99;
}

h1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Caprasimo', cursive;
    font-size: 5rem;
    background: linear-gradient(#564D80, #2C8C99);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    color: #564D80;
    font-family: 'Caprasimo', cursive;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;  
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.card p {
    background-color: white;
    flex: 1;
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: center;
}

.card img {
    width: 100%;
}